header {
    line-height: 1.5;
}

.logo {
    display: block;
    margin: 0 auto 2rem;
}

main {
    background-color: #3443eb;

    .contenedor {
        width: 1300px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;
        margin: 20px auto;
        
        .fila {
            margin: 0 auto;
        }
    }
}