.contenedor {
    // width: 1300px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    // margin: 20px auto;

    /*
    @media (min-width: 700px) {
        width: 800px;
    }

    @media (min-width: 920px) {
        width: 750px;
    }
    
    @media (min-width: 1320px) {
        width: 1300px;
    }
    */
}