#titulo {
    text-align: center;
    font-size: 60px;
    color: white;
    text-shadow: black 1px 0 10px;
}

#subtitulo {
    text-align: center;
    font-size: 20px;
}

.caja {
    margin: 20px;
    border: 2px black solid;
}

.normal {
    background-color: #b7b7ab;
}

.fighting {
    background-color: #a55948;
}

.flying {
    background-color: #79a4ff;
}

.poison {
    background-color: #985694;
}

.ground {
    background-color: #e8c954;
}

.rock {
    background-color: #cfbd75;
}

.bug {
    background-color: #c3d21f;
}

.ghost {
    background-color: #7a76d6;
}

.steel {
    background-color: #c4c2d8;
}

.fire {
    background-color: #fb5642;
}

.water {
    background-color: #55aeff;
}

.grass {
    background-color: #8cd852;
}

.electric {
    background-color: #fde63e;
}

.psychic {
    background-color: #f562b2;
}

.ice {
    background-color: #95f1fe;
}

.dragon {
    background-color: #8a75ff;
}

.dark {
    background-color: #8d6855;
}

.fairy {
    background-color: #faadff;
}

.stellar {
    background-color: #faadff;
}

.unknown {
    background-color: none;
}